.week_item {
    background-color: white;
    color: rgb(112, 112, 112);
    padding: 10px;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgb(0 0 0 / 15%);
    width: 65vw;
    max-width: 880px;
    height: 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.week_day {
    margin-left: 10px;
}

.month_day {
    margin-right: 20px;
}